[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arcade = "==2.6.17"
numpy = "==1.26.2"
#SciPy = "1.11.4"
#pymunk = "==6.4.0"

[dev-packages]

[requires]
python_version = "3.11"
